@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background-color: rgb(108, 196, 255);
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.container {
  padding: 30px;
  background-color: #00a2ff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px #ffffff11;
  width: 90%;
  max-width: 400px;
}
.result {
  background-color: rgb(220, 233, 243);
  position: relative;
  margin-bottom: 30px;
  min-height: 45px;
  border-radius: 6px;
  overflow: hidden;
}

.result #result {
  width: 65%; /* Adjusted width to make space for both buttons */
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  padding: 10px;
}

.result .action-buttons {
  width: 35%; /* Adjusted width to make space for both buttons */
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.result .clipboard,
.result .saveto {
  flex: 1;
  gap: 6px;
  height: 100%;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(6, 22, 68);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result .clipboard:hover,
.result .saveto:hover {
  border: 2px solid white;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
@media only screen and (max-width: 1100px) {
  .flex {
    display: flex;
    flex-direction: column;
  }
}
.mt {
  margin-top: 50px;
}
