@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background-color: rgb(108, 196, 255);
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.container {
  padding: 30px;
  background-color: #00a2ff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px #ffffff11;
  width: 90%;
  max-width: 400px;
}
.result {
  background-color: rgb(220, 233, 243);
  position: relative;
  margin-bottom: 30px;
  min-height: 45px;
  border-radius: 6px;
  overflow: hidden;
}
.result #result {
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  padding: 10px;
}
.result .clipboard {
  width: 20%;
  height: 100%;
  gap: 6px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(6, 22, 68);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
